html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}
.modal-body{
  padding:15px 15px 25px 25px;
}

.modal button.btn-xs{
  margin-top:8px;
}


.list-group {
	margin: 0;
	padding: 0;
  list-style: none;
}

.list-group-item {
  cursor: pointer;
  margin-top: 6px;
	position: relative;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #ededed;
 
}
.list-group-item .reserved {
  padding: 0;
  margin: 0;
  background-color: red;
  color:white;
}
.list-group-item label {
  cursor: pointer;
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	transition: color 0.4s;
}

.list-group-item:last-child {
	border-bottom: none;
}

:focus {
	outline: 0;
}

::-webkit-scrollbar {
    display: none;
}
.modal.modal-wide .modal-dialog {
  width: 40%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.wrap-text {
    word-wrap: break-word;min-width: 160px;max-width: 160px;
    font-size: 11px;font-weight: bold;
}
label {
  white-space: nowrap;
}

.panel-title a {
  color:#337ab7;
}

.panel-body {
  padding: 15px 15px 0 15px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border:0;
    box-shadow:none;
}

.panel .list-group-item.active, .panel .list-group-item.active:hover, .panel .list-group-item.active:focus{
  background:#f5f5f5;
  color:rgb(51,51,51);
  text-shadow:none;
  border-color:rgb(221,221,221);
}

.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child{
    border-radius:0;
}



.App-header {
  text-align: center;
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

